<footer class="footer bg-dark">
  <div class="reserved">
  © <span>Recipe App</span>. All rights reserved 
  </div>
  <div class="copyright">
    Designed by <span>Johnson and Aquinas
   </div>
</footer>